
.profile_username {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
}

.post_container {
    -fx-background-color: #ffffff;
    -fx-background-radius: 5px;
    -fx-padding: 10px;
    /*-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 10, 0.5, 0, 0);*/
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 5, 0.1, 0, 1);

}
.post_owner {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
    -fx-padding: 0 0 10px 0;

}

.post_content {
    -fx-font-size: 15px;
    -fx-padding: 15px 7px;
}

post_owner_container {
    -fx-padding: 10px;
}

.homebtn {
    -fx-background-color: #03A9F4;
    -fx-text-fill: #fff;
    -fx-font-weight: 600;
    -fx-padding: 7px;
    -fx-font-size: 15px;
    -fx-cursor: hand;
}

.homebtn:hover {
    -fx-background-color: #499ac5;
}

.feed_container {
    -fx-background-color: #fff;
    -fx-background-insets: 0;
    -fx-padding: 0;
}
.all_posts_container{
    -fx-background-color: #fff;
}
.all_container {
    -fx-background-color: #fff;
    -fx-padding: 0;
}

.delete_button {
    -fx-background-color: #e60000;
    -fx-text-fill: #fff;
    -fx-font-weight: 600;
    -fx-padding: 3px 7px;
    -fx-font-size: 15px;
    -fx-cursor: hand;
}
.modify_button {
    -fx-background-color: #007300;
    -fx-text-fill: #fff;
    -fx-font-weight: 600;
    -fx-padding: 3px 7px;
    -fx-font-size: 15px;
    -fx-cursor: hand;
}
