
.post_container {
    -fx-background-color: #ffffff;
    -fx-padding: 10px;
    -fx-border-color: #000000;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}

.post_owner {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
}

.post_content {
    -fx-font-size: 15px;
}

post_owner_container{
    -fx-padding: 10px;
}